<h1></h1>
<h3>新規Tweet</h3>
<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>
  
  <div class="field">
  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>
  </div>

  <%= f.label :video %>
      <%= f.file_field :video %>
  </div>
  
  <%= f.select :category, [["導入", "introduction"], ["ドリンク", "drink"],["フード", "food"],["手順", "procedure"]], include_blank: "どの投稿？" %>
  <%= f.submit "Tweetする" %>
<% end %>

<%= link_to "Tweet一覧に戻る", tweets_path %>


