<h1>ドリンクの作り方一覧</h1>
<% @tweets.each do |t| %>
    <% if t.category == "drink" %>  
    <p>内容:<%= t.body %></p>
    <%= t.user.email %>
      <%=  video_tag t.video_url ,:controls => true if t.video?%>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.body %>
      <%= t.created_at %>
      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
    <% end %>
    
<% end %>