<h1></h1>
<h3></h3>
<%= image_tag 'パフェ写真1.jpg', class:'icon' %>
<div class="example">
    <div><%= image_tag 'パフェ写真2.jpg', class:'pafe2' %></div>
    <div><%= image_tag 'パフェ写真3.jpg', class:'pafe2' %></div>
    <%= image_tag 'パフェ写真4.jpg', class:'pafe2' %>
</div>




<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to "新規投稿へ", new_admin_tweet_path %>
<% end %>
<% end %>